/build
/.vscode
CMakeFiles/
.vs
*.jpg
*.png
*.vcxproj
*.sln
*.exe
*.so
*.a
*.avi
*.MOV
__pycache__/
CalibrationInfo.txt
Debug/
Release/
.ninja_deps
.ninja_log
*.cmake
water_color_avg.txt
water_percent.txt
*.ninja

